body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/*Navigation*/
.navBar {
    padding: .5em;
}
.slicknav_menu {
    display:none;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: #1b6d85;
}
.nav-item {
    padding: 2em;
}
/*App Layout*/
.app-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*Header styles*/
.header {
    cursor: pointer;
}
.header-title {
    padding: 0.75em;
    width: 100%;
    text-align: center;
}
.header-positive {
    background-color: #2ca02c;
    color: #ffffff;
}
.header-negative {
    background-color: #ac2925;
    color: #ffffff;
}
.header-overview {
    background-color: #2e6da4;
    color: #ffffff;
}
/*Form*/
.form-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.form-holder input {
    height: 3em;
    margin: 1em .5em 0 .5em;
    padding: 0;
    text-align: center;
}
.form-holder button {
    padding: 1em;
}
.errors {
    color: red;
    margin: 1%;
}
/*Table of items*/
.items-table {
    width: 100%;
    margin-top: .5em;
}
.items-table th {
    text-align: left;
}
.remove-button {
    color: red;
}
.overview-table {
    width: 14em;
    border-collapse: collapse;
}
.overview-table td {
    padding: 10px;
}
.overview-table th {
    text-align: left;
    padding: 10px;
}
.overview-table th:last-child {
    text-align: right;
}
.overview-table td:nth-child(2) {
    text-align: right;
}
.overview-table tr:last-child td {
    border-top: 1px solid black;
}
@media screen and (max-width: 980px) {
    .app {
        flex-direction: column;
        width: 100%;
    }
    .overview-table th:last-child {
        text-align: right;
        padding: 10px;
    }
    .header-title {
        padding: 0.75em;
        text-align: center;
    }
    .form-holder {
        justify-content: center;
        margin-bottom: 0.5em;
    }
    .overview-table {
        width: 100%;
    }
    .navBar {
        display:none;
    }
    .slicknav_menu {
        display:block;
        background-color: #fff !important;
    }
    .slicknav_menu a {
        text-decoration: none;
        color: #1b6d85 !important;
    }
    .slicknav_btn {
        background-color: #1b6d85 !important;
    }
}
@media screen and (max-width: 780px) {
    .app {
        flex-direction: column;
        width: 100%;
    }
    .overview-table th:last-child {
        text-align: right;
        padding: 10px;
    }
    .header-title {
        padding: 0.75em;
        text-align: center;
    }
    .form-holder {
        justify-content: center;
        margin-bottom: 0.5em;
    }
    .overview-table {
        width: 100%;
    }
    .navBar {
        display:none;
    }
    .slicknav_menu {
        display:block;
    }
    .slicknav_menu a {
        text-decoration: none;
        color: #1b6d85 !important;
    }
    .slicknav_btn {
        background-color: #1b6d85 !important;
    }
}
