body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
/*App Layout*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/*Header styles*/
.header-title {
    padding: 0.75em;
    width: 100%;
    text-align: center;
}
.header-positive {
    background-color: #2ca02c;
    color: #ffffff;
}
.header-negative {
    background-color: #ac2925;
    color: #ffffff;
}
/*Form*/
.form-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.form-holder input {
    height: 3em;
    margin: 1em .5em 0 .5em;
    padding: 0;
    text-align: center;
}
.form-holder button {
    padding: 1em;
}
/*Table of items*/
.items-table {
    width: 100%;
    margin-top: .5em;
}
.items-table th {
    text-align: left;
}
.remove-button {
    color: red;
}
.overview-table {
    width: 14em;
    border-collapse: collapse;
}
.overview-table td {
    padding: 10px;
}
.overview-table th {
    text-align: left;
    padding: 10px;
}
.overview-table td:nth-child(2) {
    text-align: right;
}
.overview-table tr:last-child td {
    border-top: 1px solid black;
}
@media screen and (max-width: 980px) {
    .app {
        flex-direction: column;
        width: 100%;
    }
    .header-title {
        padding: 0.75em;
        width: 97.5%;
        text-align: center;
    }
    .form-holder {
        justify-content: center;
        margin-bottom: 0.5em;
    }
    .overview-table {
        width: 100%;
    }
}
@media screen and (max-width: 780px) {
    .app {
        flex-direction: column;
        width: 100%;
    }
    .header-title {
        padding: 0.75em;
        text-align: center;
    }
    .form-holder {
        justify-content: center;
        margin-bottom: 0.5em;
    }
    .overview-table {
        width: 100%;
    }
}
