body, html {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
/*Homepage*/
.home-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px solid #482058;
    border-radius: 10px;
    width: 60%;
    box-shadow: #482058 4px 4px 10px;
    padding: 1em;
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-title {
    align-self: center;
    margin-bottom: 5%;
}
.home-description p:nth-child(even) {
    margin: 2% 0 2% 0;
}
.home-description {
    display: flex;
    flex-direction: column;
}
.home-description img {
    width: 50%;
    margin-top: 1%;
    align-self: center;
}
/*Image Gallery*/
#home-slider {
    box-shadow: none;
    margin: 0 auto;
    width: 50%;
}
.home-closing {
    margin-top: 2%;
}
.home-footer {
    display: flex;
    margin-top: 20%;
    align-items: center;
    flex-direction: column;
}
/*Navigation*/
.navBar {
    padding: .5em;
}
.slicknav_menu {
    display:none;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: flex-end;
}
nav a {
    text-decoration: none;
    color: #1b6d85;
}
.nav-item {
    padding: 2em;
}
/*App Layout*/
.app-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.25em
}
.app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app-name {
    margin-bottom: 1em;
}
/*App Layout*/
.income,
.expenses,
.overview {
    flex-grow: 1;
}
/*Header styles*/
.header {
    cursor: pointer;
}
.header-title {
    padding: 0.75em;
    width: 100%;
    text-align: center;
}
.header-positive {
    background-color: #2ca02c;
    color: #ffffff;
}
.header-negative {
    background-color: #ac2925;
    color: #ffffff;
}
.header-overview {
    background-color: #2e6da4;
    color: #ffffff;
    flex-grow: 1;
}
/*Form*/
.form-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.form-holder input {
    height: 3em;
    margin: 1em .5em 0 .5em;
    padding: 0;
    text-align: center;
}
.form-holder button {
    padding: 1em;
    width: 20%;
}
.errors {
    color: red;
    margin: 1%;
}
.update-fields {
    width: 60%;
    border: none;
    height: 2em;
}
/*Table of items*/
.items-table {
    width: 100%;
    margin-top: .5em;
}
.items-table th {
    text-align: left;
}
.items-table td {
    padding: 0.5em 0 1.5em 0;

}
.items-table td:first-child {
    width: 60%;
}
.items-table td:nth-child(2) {
    width: 30%;
}
.remove-button {
    color: red;
    cursor: pointer;
}
.overview-table {
    width: 100%;
    border-collapse: collapse;
}
.overview-table td {
    padding: 10px;
}
.overview-table th {
    text-align: left;
    padding: 10px;
}
.overview-table th:last-child {
    text-align: right;
}
.overview-table td:nth-child(2) {
    text-align: right;
}
.overview-table tr:last-child td {
    border-top: 1px solid black;
}
.contact-table th, .contact-table td {
    padding: 1em;
}
@media screen and (max-width: 980px) {
    .app {
        flex-direction: column;
        width: 100%;
    }
    .app-name {
        margin-bottom: 0.5em;
    }
    .overview-table th:last-child {
        text-align: right;
        padding: 10px;
    }
    .header-title {
        padding: 0.75em;
        text-align: center;
    }
    .form-holder {
        justify-content: center;
        margin-bottom: 0.5em;
    }
    .form-holder input {
        width: 25%;
        flex-grow: 1;
    }
    .form-holder button {
        width: 30%;
    }
    .overview-table {
        width: 100%;
    }
    .update-fields {
        width: 40%;
    }
    .navBar {
        display:none;
    }
    .slicknav_menu {
        display:block;
        background-color: #fff !important;
    }
    .slicknav_menu a {
        text-decoration: none;
        color: #1b6d85 !important;
    }
    .slicknav_btn {
        background-color: #1b6d85 !important;
    }
}
@media screen and (max-width: 780px) {
    .app {
        flex-direction: column;
        width: 100%;
    }
    .app-name {
        margin-bottom: 0.5em;
    }
    .overview-table th:last-child {
        text-align: right;
        padding: 10px;
    }
    .header-title {
        padding: 0.75em;
        text-align: center;
    }
    .form-holder {
        justify-content: center;
        margin-bottom: 0.5em;
        flex-wrap: wrap;
    }
    .form-holder input {
        width: 25%;
        flex-grow: 1;
    }
    .form-holder button {
        width: 30%;
    }
    .update-fields {
        width: 70%;
    }
    .overview-table {
        width: 100%;
    }
    .navBar {
        display:none;
    }
    .slicknav_menu {
        display:block;
    }
    .slicknav_menu a {
        text-decoration: none;
        color: #1b6d85 !important;
    }
    .slicknav_btn {
        background-color: #1b6d85 !important;
    }
    .home-title > h1 {
        font-size: 24px;
    }
    .home-container {
        width: 90%;
    }
    .home-description img {
        width: 80%;
    }
    .contact-table th, .contact-table td {
        padding: 0.5em;
    }
}
